<!DOCTYPE html>
<html>
  <head>
    <title>BloggerApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    HTML CSS Javascript
    <%= render partial: "navbar"%>
    <div class="ui main text container segment">

      <% flash.each do |name,msg|%>
      <div class="ui <%=name%> message">
        <%=msg%>
      </div>
      <%end%>
      <%= yield %>
    </div>
  </body>
</html>
